<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{[%-5level] %msg%n%throwable}">
                <PatternSelector type="MarkerPatternSelector" defaultPattern="%d [%t] %-5level: %msg%n%throwable">
                    <PatternMarker pattern="%d{ISO8601} [%t] %highlight{%-5level}{TRACE=bright blue, DEBUG=green, INFO=cyan, WARN=yellow, ERROR=bright red, FATAL=bright red bold, DEFAULT=bright magenta}: %msg%n%throwable" />
                </PatternSelector>
            </PatternLayout>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>